@import "../packages/bootstrap-4.2.1/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato');

$font: Lato, sans-serif;

$colorMain: #222;
$colorMain2: #232323;
$colorSecond: #f16d7f;
$colorSecond2: #646464;
$colorStar: #e4af48;
$colorClose: #c0c0c0;

$bgBody: #fff;
$bgSlider: #e8e8e8;
$bgSearch: #a4a4a4;
$bgSearchBr: #e6e6e6;
$bgProduct: rgba(58, 56, 56, 0.83);
$bgSubscribe: rgba(242, 242, 242, 0.5);
$bgCopy: #e6e6e6;