@import "variables";

body {
    background: $colorWhite;
    font-family: $font;
}

.content {
    min-height: calc(100vh - 430px);
}

.container {
    @include media-breakpoint-only(xl) {
        padding: 0;
    }
}

header {
    height: 200px;
    
    @include media-breakpoint-only(xl) {
        height: 150px;
    }
    
    .headerUp {
        height: auto;
        
        @include media-breakpoint-only(xl) {
        height: 100px;
        }
    }
    
    nav {
        height: auto;
        
        @include media-breakpoint-only(xl) {
        height: 50px;
        }
    }
}

.logo {
    width: 170px;
    height: inherit;
    p {
        height: inherit;
        text-transform: uppercase;
        margin: 0;
        @include font(#222, 27px, 300, 32);
        
        span {
            text-transform: uppercase;
            @include font($colorSecond, 27px, 900, 32);
        }
    }
}

.slider {
    height: 615px;
    background: #fcc;
}

.category {
    height: 825px;
    background: #cfc;
}

.product {
    height: 985px;
    background: #ccf;
}

.feature {
    height: 530px;
    background: #fcc;
}

.subscribe {
    height: 440px;
    background: #cfc;
}

.footer {
    height: 430px;
    background: #000;
    footer {
        height: inherit;
        background: #fff;
    }
}
