@import "variables";

body {
    background: $bgBody;
    font-family: $font;
}

.content {
    min-height: calc(100vh - 430px);
}

.container {
    padding: 0;
}

header {
    height: 150px;

    .headerUp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        .headerUpLeft {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 610px;

            .input-group {
                width: 405px;
                height: 38px;
            }

            button,
            input {
                border-color: $bgSearchBr;
                font-size: 14px !important;
            }

            > div:last-child > div:first-child button {
                color: $colorMain;
                background: $bgSlider;
            }

            > div:last-child > div:first-child button:hover,
            > div:last-child > div:first-child button:focus {
                color: $colorMain;
                background: $bgSlider;
                box-shadow: none;
            }

            > div:last-child > div:last-child button,
            input::placeholder {
                color: $bgSearch;
            }

            > div:last-child > div:last-child button:hover,
            > div:last-child > div:last-child button:focus,
            input {
                box-shadow: none;
            }

            .dropdown-menu {
                span {
                    font-weight: 700;
                    font-size: 14px !important;
                    text-transform: uppercase;
                }

                span:not(:first-child) {
                    margin-top: 20px;
                }

                a {
                    font-size: 14px !important;
                }
            }
        }

        .basket {
            height: 38px;
            width: 188px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .cart {
                > .btn-group > .btn {
                    padding: 0;

                    &:focus,
                    &:active:focus {
                        box-shadow: none;
                    }
                }

                .productCart {
                    width: 230px;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;

                    a {
                        flex-basis: 85%;
                        display: flex;
                        justify-content: space-between;
                        padding: 0;

                        img {
                            max-width: 72px;
                            object-fit: cover;
                            object-position: center center;
                        }

                        .signature {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 5px 10px;

                            span:first-child {
                                font: 700 12px $font;
                                color: $colorMain;
                                text-transform: uppercase;
                            }

                            span:nth-child(2) {
                                font-weight: 400;
                                font-size: 12px;
                                color: $colorStar;
                            }

                            span:last-child {
                                font: 400 12px $font;
                                color: $colorSecond;
                                text-transform: uppercase;
                            }
                        }
                    }

                    .close {
                        flex-basis: 15%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 400;
                        font-size: 16px;
                        color: $colorClose;

                        &:hover {
                            color: $colorSecond;
                        }
                    }
                }

                .dropdown-menu {
                    > .sum {
                        height: 60px;
                        padding: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;

                        span {
                            text-transform: uppercase;
                            font: 700 16px $font;
                            color: $colorMain;
                        }
                    }

                    .dropdown-item > button {
                        width: 100%;
                        text-transform: uppercase;
                        font: 700 14px $font;
                    }

                    .dropdown-item:nth-last-child(2) button {
                        color: $colorSecond;

                        &:hover {
                            color: $bgBody;
                            background: $colorSecond;
                        }
                    }

                    .dropdown-item:nth-last-child(1) button {
                        color: $colorMain;

                        &:hover {
                            color: $bgBody;
                            background: $colorMain;
                        }
                    }
                }
            }

            .btn-danger {
                background-color: $colorSecond;

                &:focus,
                &:active:focus {
                    box-shadow: none;
                }
            }
        }
    }

    .headerDown {
        display: flex;
        height: 50px;
        justify-content: center;

        nav {
            height: 47px;
            width: 680px;
            justify-content: space-between;

            > a {
                font: 700 14px $font;
                text-transform: uppercase;
                color: $colorMain;
                line-height: 31px;

                &:hover {
                    border-bottom: 3px solid $colorSecond;
                }
            }

            .dropdown-toggle::after {
                border: 0;
            }

            .dropdown-menu.show {
                width: 846px;
                height: 310px;
                display: flex;
                justify-content: space-around;
            }

            .dropdown-menu {
                .section {
                    width: 255px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    > span {
                        text-transform: uppercase;
                        color: $colorMain2;
                        font: 400 14px $font;
                        line-height: 28px;
                        margin-top: 10px;
                    }

                    .super-sale {
                        position: relative;

                        img {
                            max-width: 255px;
                            object-fit: cover;
                            object-position: center center;
                        }

                        span {
                            width: 80px;
                            position: absolute;
                            top: 60px;
                            right: 0px;
                            color: $bgBody;
                            font: 900 22px $font;
                            line-height: 28px;
                            text-transform: uppercase;
                        }
                    }
                }

                a {
                    line-height: 1.2;
                    font: 400 14px $font;
                    color: $colorSecond2;
                }
            }
        }
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;

    div {
        text-transform: uppercase;
        font: 300 27px $font;
        color: $colorMain;

        span {
            font-weight: 900;
            color: $colorSecond;
        }
    }
}

.slider {
    height: 615px;
    background: $bgSlider;

    .sliderContent {
        position: relative;
        img {
            width: 100%;
            height: 615px;
            object-fit: none;
            object-position: center bottom;
        }
        .signature {
            width: 510px;
            position: absolute;
            top: calc(50% - 90px);
            left: 0;
            border-left: 12px solid $colorSecond;
            padding-left: 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            span {
                font-weight: 900;
                letter-spacing: 1.2px;
                &:first-child {
                    font-size: 60px;
                    line-height: 50px;
                    margin-bottom: 12px;
                }
                &:first-child, &:nth-child(3) {
                    color: $colorMain;
                }
                &:nth-child(3), &:last-child {
                    font-size: 40px;
                    line-height: 40px;
                }
                &:last-child {
                    color: $colorSecond;
                }
            }
        }
    }
}

.category {
    height: 825px;
    background: #cfc;
}

.product {
    height: 985px;
    background: #ccf;
}

.feature {
    height: 530px;
    background: #fcc;
}

.subscribe {
    height: 440px;
    background: #cfc;
}

.footer {
    height: 430px;
    background: #000;

    footer {
        height: inherit;
        background: #fff;
    }
}
